{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Produit</h1>
    <div class="content">
  {% for i in 1..10 %}
      <div class="card-info">
  <img src="/img/real-madrid.png" class="img" alt="real">
  <div class="content-card">
  <p>Maillot real madrid 2022/2023</p>
  <div class="button-price">
    <a href="#" class=" price btn btn-success">70$</a>
    </div>
</div>
</div>
  {% endfor %}
    </div>
</div>
{% endblock %}
